<link rel="stylesheet" href="mesevenements.component.css" />

<div class="" style="background-color: #edf7fd ; ">
    <div class="container">
    <div class="text-center" style="padding-top: 25px">
        <div>
            <form action="">
                <button type="button" class="btn" routerLink = '/creationEvent'>Créer un événement</button>
            </form>
        </div>
        <br>
      <nav class="pill-nav text-center">
        <a class="active" routerLink="/mesevenements">A venir</a>
        <a routerLink="/mesevenementspasses">Passés</a>
      </nav>
      <br>
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top"
                src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">
            <div class="card-body">
              <h5 class="card-title">Titre de l'évènement</h5>
              <p class="card-text">Organisateur</p>
              <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-info">Modifier</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">

            <div class="card-body">
              <h5 class="card-title">Titre de l'évènement</h5>
              <p class="card-text">Organisateur</p>
              <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-info">Modifier</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">

            <div class="card-body">
              <h5 class="card-title">Titre de l'évènement</h5>
              <p class="card-text">Organisateur</p>
              <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-info">Modifier</a>
            </div>
        </div>
    </div>
    <br>
</div>


<br>
  <div class="card-deck">
      <div class="card">
          <img class="card-img-top"
              src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">
          <div class="card-body">
              <h5 class="card-title">Titre de l'évènement</h5>
              <p class="card-text">Organisateur</p>
              <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
          </div>
          <div class="card-footer text-center">
              <a href="#" class="btn btn-info">Modifier</a>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top"
              src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">

          <div class="card-body">
            <h5 class="card-title">Titre de l'évènement</h5>
            <p class="card-text">Organisateur</p>
            <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
          </div>
          <div class="card-footer text-center">
              <a href="#" class="btn btn-info"> Modifier</a>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top"
              src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">

          <div class="card-body">
            <h5 class="card-title">Titre de l'évènement</h5>
            <p class="card-text">Organisateur</p>
            <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
          </div>
          <div class="card-footer text-center">
              <a href="#" class="btn btn-info"> Modifier </a>
          </div>
      </div>
  </div>
  <br>
</div>





