/* Forme du lien */
.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 11px;
  font-size: 20px;
  border-radius: 5px;
  width: 280px;
  margin-left: 20px;
}

/* Changement de couleur souris */
.pill-nav a:hover {
  background-color: rgb(236, 232, 232);
  color: black;
}

/* Couleur lien actif */
.pill-nav a.active {
  background-color: #36484b;
  color: white;
  font-style: normal;
}

.hachure{
  background: linear-gradient(45deg, #888 12.5%, #fff 12.5%, #fff 37.5%, #888 37.5%, #888 62.5%, #fff 62.5%, #fff 87.5%, #888 87.5%);
  background-size: 100px 100px;
  background-position: 50px 50px;
  opacity: 0.6;
}
