<div class="container">
    <div class="row">
        <div class="col-sm-3" *ngFor="let a of amis">
            <div class="">
                <figure class="snip1157">

                    <img [src]="returnImageMascOrFemi(a)" alt="sq-sample3" />
                    <div class="author">
                        <h5> {{ a.prenom }} <span> {{ a.nom }} </span></h5>
                    </div>
                </figure>
                <div class="text-center">
                    <button mat-mini-fab color="warn" (click)="deleteAmis(a)" aria-label="Example icon button with a delete icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<!-- *ngIf="a.receveur != authService.getUserSession()" -->