.center{
    display: block;
    margin-left: 75px;
    margin-right: auto;
    width: 50%;
}

.image-placeholder {
    width: 371px;
    height: 209px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;

}

.image-placeholder2 {
    width: 350x;
    height: 135px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;

}

/* Forme du lien*/
.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 11px;
  font-size: 20px;
  border-radius: 5px;
  width: 280px;
  margin-left: 20px;

}

/* Changement de couleur souris */
.pill-nav a:hover {
  background-color: rgb(236, 232, 232);
  color: black;
}

/* Couleur lien actif */
.pill-nav a.active {
  background-color: #36484B;
  color: white;
}


