<!-- <link rel="stylesheet" href="amis.component.css" /> -->

<div class="container-fluid">
    <div class="">
        <div class="" style="background-color: #FFFFFF ">
            <div class="container" style="padding-top: 25px">
                <nav class="pill-nav text-center">
                    <a routerLink="mes-amis" routerLinkActive="active">Mes amis <i
                            style="font-size:28px;color:steelblue" class="fas fa-users"></i> </a>
                    <a routerLink="mes-demande-amis" routerLinkActive="active">Mes demandes d'amis <i
                            style="font-size:28px;color:steelblue" class="fas fa-user"></i> </a>
                </nav>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>