<!-- <link rel="stylesheet" href="amis.component.css" /> -->

<div class="container-fluid">
    <div class="">
        <div class="" style="background-color: #FFFFFF ">
            <div class="container" style="padding-top: 25px">
                <nav class="pill-nav text-center">
                        <button mat-fab color="primary" routerLink="mes-amis" aria-label="Example icon button with a delete icon">
                            <mat-icon>people</mat-icon>
                        </button>
                        <span>Mes amis</span>
                    <a routerLink="mes-demande-amis" routerLinkActive="active">Mes demandes d'amis </a>
                </nav>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>