
<div class="container">
    <p>Page de modification des informations du compte : merci d'entrer les nouvelles valeurs des différents attributs du compte</p>
    <div style="margin: auto; width: 40%; text-align: center">
        <form #fModifOrga="ngForm" (ngSubmit)="modificationOrganisateur()">
            <div class="card p-2 z-depth-2">
                <div class="md-form">
                    <input name="nom" [(ngModel)]="connectedAccount.nom" required type="text" class="form-control" placeholder="Nom">
                </div>
                <div class="md-form">
                    <input name="prenom" [(ngModel)]="connectedAccount.prenom" required type="text" class="form-control" placeholder="Prénom">
                </div>
                <div class="md-form">
                    <input name="login" [(ngModel)]="connectedAccount.login" required type="text" class="form-control" placeholder="Login">
                </div>
                <div class="md-form">
                    <input name="password" [(ngModel)]="connectedAccount.password" required type="password" class="form-control" placeholder="Password">
                </div>
                <div class="md-form">
                    <input name="tel" [(ngModel)]="connectedAccount.tel" required type="text" class="form-control" placeholder="Numéro de téléphone">
                </div>
                <div class="md-form">
                    <input name="email" [(ngModel)]="connectedAccount.email" required type="text" class="form-control" placeholder="Adresse email">
                </div>      
                <div class="md-form">
                    <input name="nomEntreprise" [(ngModel)]="connectedAccount.nomEntreprise" required type="text" class="form-control" placeholder="Nom de l'entreprise">
                </div>  
                <div class="md-form">
                    <input name="siret" [(ngModel)]="connectedAccount.siret" required type="text" class="form-control" placeholder="Numéro SIRET de l'entreprise">
                </div>            
                <button type="submit" [disabled]="!fModifOrga.form.valid" class="btn btn-primary btn-sm btn-block">Modifier</button>
                <br>
                <p class="text-danger">{{ authService.msgErr }}</p>
                <p class="text-success">{{ authService.msgOK }}</p>
            </div>
        </form>
    </div>
</div>