<div class="accordion" id="menuPaiement200">
  <!-- DEBUT MENU PAIEMENT CARTE BANCAIRE -->
  <div class="card">
    <div class="card-header" id="cartebancaire">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="false" aria-controls="collapseOne">
          Payer par carte bancaire
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="cartebancaire" data-parent="#menuPaiement200">
      <div class="card-body text-dark text-center">
        <h2>CARTE BANCAIRE</h2>
        <!-- DEBUT FORMULAIRE CARTE BANCAIRE -->
        <div class="container">
          <div class='row'>
            <div class='col-md-2'></div>
            <div class='col-md-8'>
              <form id="payment-form" #fPay200cb="ngForm" (ngSubmit)="pay200(fPay200cb.value)">
                <div class='form-row'>
                  <div class='col-12 form-group'>
                    <label class='control-label'>Nom du détenteur</label>
                    <input name='nom' ngModel="" class='form-control' size='4' type='text'>
                  </div>
                </div>
                <div class='form-row'>
                  <div class='col-12 form-group'>
                    <label class='control-label'>Numéro de carte</label>
                    <input name = "numcarte" ngModel="" class='form-control' placeholder='À saisir sans espaces'
                      size='20' type='text'>
                  </div>
                </div>
                <div class='form-row'>
                  <div class='col-3 form-group'>
                    <label class='control-label'>CVC</label>
                    <input name ="cvc" ngModel="" class='form-control' placeholder='ex. 311' size='4' type='text'>
                  </div>
                  <div class='col-3 form-group'>
                  </div>
                  <div class='col-3 form-group'>
                    <label class='control-label'>Expiration</label>
                    <input name = 'moisexp' ngModel="" class='form-control' placeholder='MM' size='2' type='text'>
                  </div>
                  <div class='col-3 form-group'>
                    <label class='control-label'> &nbsp;</label>
                    <input name='anexp' ngModel="" class='form-control' placeholder='YYYY' size='4' type='text'>
                  </div>
                </div>
                <div class='form-row'>
                  <div class='col-12 form-group'>
                    <button class='form-control btn-primary submit-button' type='submit'>Payer »</button>
                  </div>
                  <p class="text-danger">{{ buytokenService.msgErrCB200 }}</p>
                  <p class="text-success">{{ buytokenService.msgOKCB200 }}</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- FIN FORMULAIRE CARTE BANCAIRE -->
      </div>
    </div>
  </div>
  <!-- FIN MENU PAIEMENT CARTE BANCAIRE -->

  <!-- DEBUT MENU CARTE PREPAYEE -->
  <div class="card">
    <div class="card-header" id="carteprepayee">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Payer avec une carte prépayée
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="carteprepayee" data-parent="#menuPaiement200">
      <div class="card-body text-dark text-center">
        <h2>CARTE PRÉPAYÉE</h2>
        <!-- DEBUT FORMULAIRE CARTE PREPAYEE -->
        <div class="container">
          <div class='row'>
            <div class='col-md-2'></div>
            <div class='col-md-8'>
              <form id="payment-form" #fPay200pre="ngForm" (ngSubmit)="pay200(fPay200pre.value)">
                <div style="margin:0;padding:0;display:inline">
                  <input name="utf8" type="hidden" value="✓" />
                </div>
                <div class='form-row'>
                  <div class='col-12 form-group required'>
                    <label class='control-label'>Code de la carte prépayée</label>
                    <input name = "carteprepayee" ngModel="" class='form-control' size='4' type='text'>
                  </div>
                </div>
                <div class='form-row'>
                  <div class='col-12 form-group'>
                    <button class='form-control btn-primary submit-button' type='submit'>Payer »</button>
                  </div>
                  <p class="text-danger">{{ buytokenService.msgErrPrepayee200 }}</p>
                  <p class="text-success">{{ buytokenService.msgOKPrepayee200 }}</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- FIN FORMULAIRE CARTE PREPAYEE -->
      </div>
    </div>
  </div>
  <!-- FIN MENU CARTE PREPAYEE -->
</div>