<h1 class="text-center">Boutique</h1>
<div class="container text-center">Vous avez accumulé des points de fidélité ? Génial ! Vous pouvez ici
    les échanger contre des avantages exclusifs lors de vos événements.</div> <br>

<div class="container">
    <h2>Les avantages disponiblles en ce moment :</h2>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top"
                src="https://i.picsum.photos/id/60/314/200.jpg?hmac=NZBpOs3xK_iBNnD-jU1hBC17kKfkKMJrqbr44sgCA9Y"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aliquid neque
                    saepe praesentium omnis. Ducimus ex sed totam cupiditate aspernatur facere cum distinctio culpa
                    voluptate, sapiente aliquam ipsum optio! Consectetur?</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-info">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://i.picsum.photos/id/547/314/200.jpg?hmac=xcil438OjlL4l9wC0EBXTy50WlFOQ5FrWNX3ObMt4Xw"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi aspernatur
                    perferendis recusandae sapiente fuga voluptatum harum, dolorem nesciunt saepe inventore similique
                    provident, iure ad eum excepturi, eveniet maiores libero officia.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-info">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://i.picsum.photos/id/149/314/200.jpg?hmac=T1ZD7QzoKgA_vmwugE7Couajv6cKVezR9fnSBZ1KWq4"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nulla tempora
                    obcaecati at consequuntur beatae quas saepe omnis, et voluptates nam repellendus minus eligendi
                    aliquid dolores dolor magnam non explicabo.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-info">Go somewhere</a>
            </div>
        </div>
    </div>
    <br>
</div>