<h1 class="text-center">Boutique</h1>
<div class="container text-center">Tu as accumulé des points de fidélité ? Génial ! Tu peux ici
    les échanger contre des avantages exclusifs lors de vos événements. <br>
    Tu souhaitais acheter des tokens? Rendez-vous <a href="/buytokens">ici</a> ! <br> </div> <br>

<div class="flex-container text-center">
    <div class="d-flex justify-content-center">
        <div *ngFor="let a of avantages" class="col-2">
            <div class="card testimonial-card">
                <img class="card-img-top text-center"
                    src={{a.image}}>
                <div class="card-body">
                    <h6 class="card-title">{{ a.avantage }}</h6>
                    <h5>{{ a.prix }} points</h5>
                    <input class='form-control' type='number' [formControl]="quantity" placeholder="Quantité souhaitée">
                    <br>
                    <button (click)="achat(a)" class="btn rounded-pill winter-neva-gradient p-2 text-dark font-weight-bold" style="width: 150px;">Obtenir</button>
                </div>
            </div>
        </div>
</div>
    <br>
    <br>
    <p class="text-danger">{{ boutiqueService.MsgBoutiqueErr }}</p>
    <p class="text-success">{{ boutiqueService.MsgBoutiqueOK }}</p>
</div>

<br>
<br>
<br>
<br>
<br>