<h1 class="text-center">Boutique</h1>
<div class="container text-center">Vous avez accumulé des points de fidélité ? Génial ! Vous pouvez ici
    les échanger contre des avantages exclusifs lors de vos événements. <br>
    Vous souhaitiez acheter des tokens? Rendez-vous <a href="/buytokens">ici</a> ! <br> </div> <br>

    <div class="flex-container text-center">
<div class="d-flex justify-content-center">
    <div *ngFor="let a of avantages" class="col-2">
        <div class="card">
            <img class="card-img-top"
                src="https://i.picsum.photos/id/60/314/200.jpg?hmac=NZBpOs3xK_iBNnD-jU1hBC17kKfkKMJrqbr44sgCA9Y"
                alt="Card image cap">
            <div class="card-body">
                <h6 class="card-title">{{ a.avantage }}</h6>   
                <h5>{{ a.prix }} points</h5>
                <input class='form-control' type='text' [formControl]="quantity" placeholder="Quantité souhaitéee">
                <button (click)="paiement(a.prix)" class="btn btn-outline-info">Obtenir</button>
            </div>
        </div>
    </div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>