<div class="container">
    <p>connexion works!</p>
    <div style="margin: auto; width: 40%; text-align: center">
        <p>connection works!</p>
        <form #fLogin="ngForm" (ngSubmit)="connexion(fLogin.value)">
            <div class="card p-2 z-depth-2">
                <div class="md-form">
                    <input name="login" ngModel="" type="text" class="form-control" placeholder="Login">
                </div>
                <div class="md-form">
                    <input name="password" ngModel="" type="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-sm btn-block">Connexion</button>
                <button type="button" class="btn btn-link btn-sm btn-block" onclick="location.href = 'inscription'">Inscription</button>
                <br>
                <p class="text-danger">{{ authService.msgErr }}</p>
                <p class="text-success"></p>
            </div>
        </form>
    </div>
</div>