<link rel="stylesheet" href="mesticketspasses.component.css" />

<div class="container-fluid">
  <div class="">
    <div class="" style="background-color: #FFFFFF ">
      <div class="container" style="padding-top: 25px">
        <nav class="pill-nav text-center">
          <a routerLink="/mestickets">A venir</a>
          <a class="active rounded-pill winter-neva-gradient p-2 text-dark font-weight-bold" routerLink="/mesticketspasses">Passés</a>
        </nav>
        <div class="container" *ngIf="eventsInscriptionPast != 0"> 
          <div class="">
              <div class="row">
                  <div class="col-sm-4" style="padding-top:35px" *ngFor="let e of eventsInscriptionPast">
                      <div class="hachure">
                        <div class="card h-100 hachure">
                          <img class="card-img-top" height="220px" wight="40px" src={{e.event.image}}>
  
                          <div class="card-body">
                              <h5 class="card-title"> {{ e.event.titre }} </h5>
                              <p class="card-text"> Organisé par {{ e.event.organisateur.prenom }} {{ e.event.organisateur.nom }} </p>
                              <p class="card-text" style="color:DodgerBlue"> {{ e.event.date }} | {{ e.event.lieu }} | {{ e.event.prix }} Token</p>
                              <p class="card-text">Tickets achetés : {{ e.ticketQuantity }}</p>
                          </div>
                          <div class="card-footer text-center">
                              <a class="btn btn-info">C'était top !</a>
                          </div>
                      </div>
                      </div>
                    
                      <br>
                  </div>
              </div>
          </div>
</div>
          <div class="text-center" style="padding-top:35px;" *ngIf="eventsInscriptionPast == 0">
            <h3 class="container shadow shadow-primary rounded text-black text-center" style="padding-block:30px ;"> Tu n'as pas encore participé à un événement proposé sur Ticketly, n'hésite pas à aller dans événements pour t'inscrire aux événements disponibles sur notre site ! </h3>
        </div>

      </div>
    </div>
  </div>
</div>

