<link rel="stylesheet" routerLink="mestickets.component.css" />

<div class="container-fluid">
  <div class="">
    <div class="" style="background-color: #FFFFFF ">
      <div class="container" style="padding-top: 25px">
        <nav class="pill-nav text-center">
          <a class="active" routerLink="/mestickets">A venir</a>
          <a routerLink="/mesticketspasses">Passés</a>
        </nav>
        <br>
        <div class="container" *ngIf="eventsInscriptionFutur != 0"> 
          <div class="">
              <div class="row">
                  <div class="col-sm-4" style="padding-top:35px" *ngFor="let e of eventsInscriptionFutur">
                      <div class="card h-100">
                      <img class="card-img-top" height="220px" wight="40px"
                              src={{e.event.image}}>
  
                          <div class="card-body">
                              <h5 class="card-title"> {{ e.event.titre }} </h5>
                              <p class="card-text"> Organisé par {{ e.event.organisateur.prenom }} {{ e.event.organisateur.nom }} </p>
                              <p class="card-text" style="color:DodgerBlue"> {{ e.event.date }} | {{ e.event.lieu }} | {{ e.event.prix }} Token</p>
                          </div>
                          <div class="card-footer text-center">
                              <a class="btn btn-info">Détails du ticket</a>
                          </div>
                      </div>
                      <br>
                  </div>
              </div>
          </div>
      </div>
      <div class="text-center" style="padding-top:35px;" *ngIf="eventsInscriptionFutur == 0">
          <h3 class="container" style="background-color:black ; color: white;"> Tu n'as pas d'événement en ce moment, n'hésite pas à aller dans événement pour t'inscrire à de nouveaux 😘 </h3>
      </div>
        
        </div>
      </div>
    </div>
  </div>