<div class="container text-center">
    <br>
    <h1>Bienvenue sur votre profil, {{authService.getUserSession().prenom }} !</h1>
    <br>
</div>
<div style="margin: auto; width: 100%; text-align: center; justify-content: center;">
    <div>
        <p>Nom : {{ authService.getUserSession().nom}}</p>
        <p>Prénom : {{ authService.getUserSession().prenom}}</p>
        <p>Login : {{ authService.getUserSession().nom}}</p>
        <p>Numéro de téléphone : {{ authService.getUserSession().tel}}</p>
        <p>Adresse email : {{ authService.getUserSession().email}}</p>
        <p>Nombre de tokens : {{ authService.getUserSession().nbToken}}</p>
        <p>Nombre de points de fidélité : {{ authService.getUserSession().nbPoint}}</p>
        <div *ngIf="authService.getUserSession().organisateur">
            <p>Nombre de tokens organisateurs : {{ authService.getUserSession().nbTokenEvent }}</p>
        </div>

    </div>



    <div *ngIf="!authService.getUserSession().organisateur">
        <form action="">
            <button type="button" class="btn" routerLink='/modifCompte'>Modifier
                votre compte</button>
        </form>
    </div>
    <div *ngIf="authService.getUserSession().organisateur">
        <form action="">
            <button type="button" class="btn" routerLink='/modifCompteOrga'>Modifier
                votre compte organisateur</button>
        </form>
    </div>
    <div>
        <form (ngSubmit)="suppressionCompte()">
            <button type="submit" class="btn">Supprimer votre compte</button>
        </form>
    </div>
    <button type="button" class="btn red-text" (click)="authService.disconnect()"> {{
        authService.getUserSession().prenom }} {{
        authService.getUserSession().nom }} &nbsp; &nbsp; <i class="fas fa-power-off"></i></button>
</div>