<p>profile works!</p>

<div style="margin: auto; width: 100%; text-align: center;">
    <button type="button" class="btn btn-link btn-sm btn-block" onclick="location.href = 'login'">Modifier le compte
        (pas encore dispo)</button>
    <form (ngSubmit)="suppressionCompte()">
        <button type="submit" class="btn btn-link btn-sm btn-block">Supprimer le compte</button>
    </form>
    <button type="button" class="nav-link red-text" (click)="authService.disconnect()"> {{
        authService.getUserSession().prenom }} {{
        authService.getUserSession().nom }} &nbsp; &nbsp; <i class="fas fa-power-off"></i></button>
</div>