<!-- <link rel="stylesheet" href="dashboard.component.css"> -->

<div class="container-fluid">

    <div class=" row" style="background: rgba(197, 220, 224, 0.69); padding-bottom: 15px;">
        <div class="col"></div>
        <div class="col-3 container">
            <br>
            <div class="">
                <div class="titre-box">
                    <div class="titre-texte">
                        AUJOURD'HUI
                    </div>
                </div>

                <!-- Rajout de l'image sous forme de carré avec une description en dessous -->
                <br>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">
                    <div class="card-body">
                        <h5 class="card-title">Titre de l'évènement</h5>
                        <p class="card-text">Organisateur</p>
                        <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-info">Je veux !</a>
                    </div>
                </div>
                <br>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">
                    <div class="card-body">
                        <h5 class="card-title">Titre de l'évènement</h5>
                        <p class="card-text">Organisateur</p>
                        <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-info">Je veux !</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 container">
            <br>
            <div class="">
                <div class="titre-box">
                    <div class="titre-texte">
                        MES RESERVATIONS
                    </div>
                </div>
                <br>
                <div class="">
                    <div class="card-deck row">
                        <div class="card">
                            <img class="card-img-top"
                                src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">
                            <div class="card-body">
                                <h5 class="card-title">Titre de l'évènement</h5>
                                <p class="card-text">Organisateur</p>
                                <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#" class="btn btn-info">Je veux !</a>
                            </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top"
                                src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">
                            <div class="card-body">
                                <h5 class="card-title">Titre de l'évènement</h5>
                                <p class="card-text">Organisateur</p>
                                <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#" class="btn btn-info">Je veux !</a>
                            </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top"
                                src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">

                            <div class="card-body">
                                <h5 class="card-title">Titre de l'évènement</h5>
                                <p class="card-text">Organisateur</p>
                                <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#" class="btn btn-info">Je veux ! </a>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="titre-box">
                            <div class="titre-texte">
                                MES TOKENS
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <img class="col" src="https://cdn-icons-png.flaticon.com/512/2165/2165574.png" width="60px"
                                height="100px" alt="">
                            <div class="col">
                                On possède X token !!!!
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <img class="col" src="https://cdn-icons-png.flaticon.com/512/2165/2165574.png" width="60px"
                                height="100px" alt="">
                            <div class="col">
                                On possède X points de fidélité !!!!
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="titre-box">
                            <div class="titre-texte">
                                MES AMIS
                            </div>
                        </div>
                        <br>
                        <div class="titre-box2">
                            <div class="titre-texte2">
                                Lise est en ligne, il faut trouver commment concatener sinon ça ne va pas marcher pour
                                cette partie hehe
                            </div>
                        </div>
                        <br>
                        <div class="titre-box2">
                            <div class="titre-texte2">
                                Lise est en ligne, il faut trouver commment concatener sinon ça ne va pas marcher pour
                                cette partie hehe
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col"></div>
    </div>


</div>