.titre-texte {
    font-style: sans-serif;

  font-size: 20px;
  line-height: 29px;

  align-items: center;
  text-align: center;

  color: #ffffff;
  padding-top: 11px;
}
.titre-texte2 {
    font-family: 'Commissioner';
    font-style: sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    align-items: center;
    text-align: center;

    color: #000000;
    padding-top: 11px;
}

.titre-box {
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 371px; */
    height: 51px;

    background: #36484B;
    border-radius: 5px;
}

.titre-box2 {
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 371px; */
    height: 112px;

    background: #c0c0c0;
    border-radius: 5px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-placeholder {
    width: 371px;
    height: 209px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;

}

.corps-texte {
    font-family: 'Commissioner';
    font-style: sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    align-items: center;
    text-align: center;

    color: #000000;
    padding-top: 11px;
}

