<!-- <link rel="stylesheet" href="dashboard.component.css"> -->

<div class="container-fluid">

    <div class=" row" style="background: #FFFFFF; padding-bottom: 90px;">
        <div class="container">
            <br>
            <div class="">
                <div class="titre-box">
                    <div class="titre-texte">
                        Mes réservations
                    </div>
                </div>
                <div class="container" *ngIf="eventsInscription != 0"> 
                    <div class="">
                        <div class="row">
                            <div class="col-sm-4" style="padding-top:35px" *ngFor="let e of eventsInscription">
                                <div class="card h-100">
                                    <img class="card-img-top"
                                        src={{e.event.image}}>
            
                                    <div class="card-body">
                                        <h5 class="card-title"> {{ e.event.titre }} </h5>
                                        <p class="card-text"> Organisé par {{ e.event.organisateur.prenom }} {{ e.event.organisateur.nom }} </p>
                                        <p class="card-text" style="color:DodgerBlue"> {{ e.event.date }} | {{ e.event.lieu }} | {{ e.event.prix }} Token</p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#" class="btn btn-info">Je veux ! </a>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="padding-top:35px;" *ngIf="eventsInscription == 0">
                    <h3 class="container" style="background-color:black ; color: white;">Pas d'events ??? Mais on dort en ce moment ou quoi ?</h3>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="titre-box">
                            <div class="titre-texte">
                                Mes token
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <img class="col" src="https://cdn-icons-png.flaticon.com/512/2165/2165574.png" width="60px"
                                height="100px" alt="">
                            <div class="col">
                                On possède X token !!!!
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <img class="col" src="https://cdn-icons-png.flaticon.com/512/2165/2165574.png" width="60px"
                                height="100px" alt="">
                            <div class="col">
                                On possède X points de fidélité !!!!
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="titre-box">
                            <div class="titre-texte">
                                Mes amis
                            </div>
                        </div>
                        <br>
                        <div class="titre-box2">
                            <div class="titre-texte2">
                                Lise est en ligne, il faut trouver commment concatener sinon ça ne va pas marcher pour
                                cette partie hehe
                            </div>
                        </div>
                        <br>
                        <div class="titre-box2">
                            <div class="titre-texte2">
                                Lise est en ligne, il faut trouver commment concatener sinon ça ne va pas marcher pour
                                cette partie hehe
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>