<link rel="stylesheet" href="dashboard.component.css">

<div class="row">

    <div class="col-3" style="background-color:red ;">
        <div>
            azazaz
        </div>
        azaz
        <div class="" style="padding-top:20px">
            <div class="titre-box">
                <div class="titre-texte">
                    AUJOURD'HUI
                </div>
            </div>

            <!-- Rajout de l'image sous forme de carré avec une description en dessous -->
            <div style="padding-top:35px">
                <img class="image-placeholder center"
                    src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2"
                    width="400" height="341">
            </div>
            <div style="padding-top:35px">
                <img class="image-placeholder center"
                    src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2"
                    width="400" height="341">
            </div>
            <div style="padding-top:35px; padding-bottom: 20px;">
                <img class="image-placeholder center"
                    src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2"
                    width="400" height="341">
            </div>
        </div>
    </div>
    <div class="col-9" style="background-color:blue ;">

        <div>
            azazaz
        </div>
        azazaz
        <div class="" style="padding-top:20px">
            <div class="titre-box">
                <div class="titre-texte">
                    AUJOURD'HUI
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="titre-texte">
            AUJOURD'HUI
        </div>
    </div>
</div>