.titre-texte {
  font-style: sans-serif;

  font-size: 20px;
  line-height: 29px;

  align-items: center;
  text-align: center;

  color: #ffffff;
  padding-top: 11px;
}

.titre-box {
  width: 350px;
  height: 51px;

  background: #36484b;
  border-radius: 5px;
}

