<div class="" style="background-color: #FFFFFF ; padding-top: 25px; padding-bottom: 95px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="">
                        <div class="titre-texte rounded-pill winter-neva-gradient p-2 text-dark font-weight-bold">
                            Aujourd'hui
                    </div>
                    <p class="text-success">{{ authService.msgOK }}</p>
                    <p class="text-danger">{{ authService.msgErr }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="eventsAujd != 0">
        <div class="">
            <div class="row justify-content-center">
                <div class="col-sm-4" style="padding-top:35px" *ngFor="let e of eventsAujd">
                    <form #fInscription="ngForm" (ngSubmit)="inscription(e)">
                        <div class="card h-100">
                            <img class="card-img-top" height="220px" wight="40px" src={{e.image}}>

                            <div class="card-body text-center">
                                <h5 class="card-title"> {{ e.titre }} </h5>
                                <p class="card-text"> Organisé par {{ e.organisateur.prenom }} {{ e.organisateur.nom }}
                                </p>
                                <p class="card-text" style="color:DodgerBlue"> {{ e.date }} | {{ e.lieu }} | Prix : {{ e.prix
                                    }} Token</p>
                            </div>
                            <div class="card-footer text-center">
                                <input class='form-control' type='number' [formControl]="quantity"
                                    placeholder="Quantité souhaitée">
                                <button type="submit" [disabled]="!authService.isConnected()" class="btn rounded-pill winter-neva-gradient text-dark font-weight-bold">Je veux ! </button>
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" style="padding-top:35px;" *ngIf="eventsAujd == 0">
        <h3 class="container shadow shadow-primary rounded text-black text-center" style="padding-block:30px ;"> Aucun événement de  prévu sur Ticketly aujourd'hui, n'hésite pas à revenir sur notre site une autre fois ! </h3>
    </div>

    <div class="container" style="padding-top:35px ;">
        <div class="row justify-content-center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="">
                    <div class="titre-texte rounded-pill winter-neva-gradient p-2 text-dark font-weight-bold">
                            Futurs événements
                    </div>
                    <p class="text-success">{{ authService.msgOK }}</p>
                    <p class="text-danger">{{ authService.msgErr }}</p>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="container" *ngIf="eventsApres != 0">
        <div class="">
            <div class="row justify-content-center">
                <div class="col-sm-4" style="padding-top:35px" *ngFor="let e of eventsApres">
                    <form #fInscription="ngForm" (ngSubmit)="inscription(e)">
                        <div class="card h-100">
                            <img class="card-img-top" height="220px" wight="40px" src={{e.image}}>

                            <div class="card-body text-center">
                                <h5 class="card-title"> {{ e.titre }} </h5>
                                <p class="card-text"> Organisé par {{ e.organisateur.prenom }} {{ e.organisateur.nom }}
                                </p>
                                <p class="card-text" style="color:DodgerBlue"> {{ e.date }} | {{ e.lieu }} | Prix : {{ e.prix
                                    }}
                                    Token</p>
                            </div>
                            <div class="card-footer text-center">
                                <input class='form-control' type='number' [formControl]="quantity"
                                    placeholder="Quantité souhaitée">
                                <button type="submit" [disabled]="!authService.isConnected()" class="btn rounded-pill winter-neva-gradient text-dark font-weight-bold">Je veux ! </button>
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" style="padding-top:35px;" *ngIf="eventsApres == 0">
        <h3 class="container shadow shadow-primary rounded text-black text-center" style="padding-block:30px ;"> Aucun événement de  prévu sur Ticketly dans les semaines à venir, n'hésite pas à revenir sur notre site pour vous tenir à jour ! </h3>
    </div>

    <div class="container" style="padding-top:35px ;">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="">
                    <div class="titre-texte rounded-pill winter-neva-gradient p-2 text-dark font-weight-bold">
                            Evénements passés
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="container" *ngIf="eventsAvant != 0">
        <div class="">
            <div class="row">
                <div class="col-sm-4" style="padding-top:35px;" *ngFor="let e of eventsAvant">
                    <div class="hachure">
                        <div class="card h-100 hachure">
                            <img class="card-img-top" src={{e.image}}>

                            <div class="card-body text-center">
                                <h5 class="card-title"> {{ e.titre }} </h5>
                                <p class="card-text"> Organisé par {{ e.organisateur.prenom }} {{ e.organisateur.nom }}
                                </p>
                                <p class="card-text" style="color:DodgerBlue"> {{ e.date }} | {{ e.lieu }} | {{ e.prix
                                    }} Token</p>
                            </div>
                            <div class="card-footer text-center">
                                <button [disabled]="" class="btn"> Terminé </button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" style="padding-top:35px; padding-bottom: 90px;" *ngIf="eventsAvant == 0">
        <h3 class="container" style="background-color:black ; color: white;">Il n'y a pas encore eu d'évènements passés
            !</h3>
    </div>
</div>