<!-- <link rel="stylesheet" href="evenement.component.css"> -->


<div class="" style="background-color: #edf7fd ; padding-top: 35px; ">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="">
                    <div class="titre-box">
                        <div class="titre-texte">
                            Aujourd'hui
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-sm-4" style="padding-top:35px" *ngFor="let e of eventsAujd">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src={{e.image}}>

                        <div class="card-body">
                            <h5 class="card-title"> {{ e.titre }} </h5>
                            <p class="card-text"> {{ e.organisateur.prenom }} {{ e.organisateur.nom }} </p>
                            <p class="card-text" style="color:DodgerBlue"> {{ e.date }} | {{ e.lieu }} | {{ e.prix }}€</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-info">Je veux ! </a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

