.titre-texte {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    align-items: center;
    text-align: center;

    color: #FFFFFF;
    padding-top: 11px;
}

.titre-box {

    width: 371px;
    height: 51px;

    background: #36484B;
    border-radius: 16px;

}
