<!-- <link rel="stylesheet" href="evenement.component.css"> -->


<div class="col-sm-4" *ngFor="let e of events">
    <div class="card p-3">
        <strong class="text-info"> {{ e.artiste }} </strong>
        <p> {{ e.titre }}</p>
    </div>
    <br>
</div>



<div class="" style="background-color: #edf7fd ; ">
    <div class="container">
        <br>
        <div class="">
            <div class="titre-box">
                <div class="titre-texte">
                    Aujourd'hui
                </div>
            </div>
        </div>



        

        <div class="">

            <div class="row">
                <div class="col-sm-4" style="padding-top:10px" *ngFor="let e of events">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">

                        <div class="card-body">
                            <h5 class="card-title"> {{ e.titre }} </h5>
                            <p class="card-text"> {{ e.organisateur.prenom }} {{ e.organisateur.nom }} </p>
                            <p class="card-text" style="color:DodgerBlue"> {{ e.date }} </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-info">Je veux ! </a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>


        </div>
        <br>
    </div>

    <div class="container">
        <div class="titre-box">
            <div class="titre-texte">
                Demain
            </div>
        </div>
        <br>
        <div class="card-deck">

            <div class="card">
                <img class="card-img-top"
                    src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">

                <div class="card-body">
                    <h5 class="card-title">Titre de l'évènement</h5>
                    <p class="card-text">Organisateur</p>
                    <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-info">Je veux ! </a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">

                <div class="card-body">
                    <h5 class="card-title">Titre de l'évènement</h5>
                    <p class="card-text">Organisateur</p>
                    <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-info">Je veux ! </a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">

                <div class="card-body">
                    <h5 class="card-title">Titre de l'évènement</h5>
                    <p class="card-text">Organisateur</p>
                    <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-info">Je veux ! </a>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="container">
        <div class="titre-box">
            <div class="titre-texte">
                J+2
            </div>
        </div>
        <br>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top"
                    src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">
                <div class="card-body">
                    <h5 class="card-title">Titre de l'évènement</h5>
                    <p class="card-text">Organisateur</p>
                    <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-info">Je veux !</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">

                <div class="card-body">
                    <h5 class="card-title">Titre de l'évènement</h5>
                    <p class="card-text">Organisateur</p>
                    <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-info">Je veux !</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://images.midilibre.fr/api/v1/images/view/626278a83188675ed45b26e4/large/image.jpg?v=2">

                <div class="card-body">
                    <h5 class="card-title">Titre de l'évènement</h5>
                    <p class="card-text">Organisateur</p>
                    <p class="card-text" style="color:DodgerBlue">Date | Heure | Prix </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-info">Je veux ! </a>
                </div>
            </div>
        </div>
    </div>
    <br>



    <!--
    <p>Création d'un événement</p>
<div class="container">
    <div style="margin: auto; width: 40%; text-align: center">
        <form #fEvent="ngForm" (ngSubmit)="login(fEvent.value)">
            <div class="card p-2 z-depth-2">
                <div class="md-form">
                    <input name="artiste" ngModel="" type="text" class="form-control" placeholder="Artiste">
                </div>
                <div class="md-form">
                    <input name="titre" ngModel="" type="text" class="form-control" placeholder="Titre de l'Evénement">
                </div>
                <div class="md-form">
                    <input name="place" ngModel="" type="text" class="form-control" placeholder="PLaces Disponibles">
                </div>
                <div class="md-form">
                    <input name="date" ngModel="" type="password" class="form-control" placeholder="Date de l'Evénement">
                </div>
                <div class="md-form">
                    <input name="heure" ngModel="" type="text" class="form-control" placeholder="Heure de l'Evenement">
                </div>
                <div class="md-form">
                    <input name="genre" ngModel="" type="text" class="form-control" placeholder="Genre d'Evénement">
                </div>
                <div class="md-form">
                    <input name="prix" ngModel="" type="text" class="form-control" placeholder="Prix de l'Evénement en Tokens">
                </div>
                <div class="md-form">
                    <input name="photo" ngModel="" type="text" class="form-control" placeholder="Coller le lien du visuel associé à l'Evénement">
                </div>
                <button type="submit" class="btn btn-primary btn-sm btn-block">Créer L'Evénement</button>
                <button type="button" class="btn btn-link btn-sm btn-block" onclick="location.href = 'lieu'">Evenement</button>
                <br>
                <p class="text-danger">{{ createeventService.msgErr }}</p>
                <p class="text-success">{{ createeventService.msgOK }}</p>
            </div>
        </form>
    </div>
</div>
-->